<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <body>
    <div th:fragment="header"  style="color:white;background:black;" posi>
      
		<nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
		  <!-- Brand -->
		  <a class="navbar-brand" th:href="@{/}">ProConnect</a>
								
		</nav>
		
		<div class="bg-dark navbar-dark" align=right >
		<!-- Session existiert -->	
		<span th:if="${#httpServletRequest != null and #httpServletRequest.getSession(false) != null}">
			Welcome, <b> <a th:href="@{/profile}" th:text="${login}" ></a></b> | <a href="/logout">Logout </a>
		</span>
		<!-- Session existiert NICHT -->	
		<span th:unless="${#httpServletRequest != null and #httpServletRequest.getSession(false) != null}">
		    <b><a href="/user/login">Login</a></b>
		</span>
		<br>
		</div>
		  

    </div>
  </body>
</html>